---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import NavBarTop from "../../components/NavBarTop.astro";
---

<Layout theme="dark" title="Acerca de mí | Alejandro Carrasco Rodríguez">
  <NavBarTop theme="dark" active="blog" />

  <header class="container mb-3">
    <section class="no-selectable bg-black text-light rounded-4">
      <div class="py-3">
        <h1 class="h4 d-block text-center">::Tipo de artículo</h1>
      </div>
    </section>
  </header>

  <main class="container h-100 w-100 mb-5">
    <section class="bg-light text-dark rounded-4 py-3 px-reader mb-5">

      <div class="text-center mb-5">
        <img src="https://picsum.photos/1600/1000" width="50%" height="50%" alt="::título del artículo">
      </div>

      <h1 class="text-center text-primary mb-4">
        ::título del artículo
      </h1>

      <p class="d-block text-justify fs-5 px-md-5 mb-5">
        ::Lorem elit magna magna laboris ad irure proident elit velit nostrud amet esse. Cillum aliquip tempor ullamco dolor nisi. Enim id id eiusmod id sint nulla laboris aliquip voluptate. Labore officia velit consectetur magna ad irure magna tempor ipsum aliqua. Nisi Lorem ad et anim veniam proident commodo labore. Cillum ullamco aute cillum magna quis cupidatat. Quis ullamco eu pariatur aute fugiat labore consequat adipisicing excepteur.
        Exercitation velit veniam aliqua magna non. Ut cillum qui excepteur eiusmod commodo eu velit aute do laboris. Pariatur nostrud in elit enim minim. Consequat mollit magna est duis sit consequat enim commodo exercitation occaecat tempor reprehenderit quis mollit. Cupidatat in cillum mollit eu cupidatat. Ut exercitation veniam dolor nostrud fugiat duis occaecat incididunt nostrud consectetur enim consequat sunt est. Est nisi adipisicing quis irure ad occaecat velit commodo commodo ad veniam ullamco nulla culpa.
        Sit reprehenderit incididunt quis non esse excepteur fugiat consequat velit ea ut ex adipisicing veniam. Elit eiusmod nulla irure Lorem esse. Minim reprehenderit nostrud voluptate in excepteur ex. Cillum cillum ut incididunt occaecat ipsum non duis nisi aute. Enim nostrud est eiusmod cupidatat ad mollit laboris reprehenderit. In proident magna ea sunt nisi aliquip nulla nulla ipsum adipisicing.
      </p>

      <h2 class="text-center text-primary mb-4">
        ::título de sección
      </h2>

      <p class="d-block text-justify fs-5 px-md-5 mb-5">
        ::Lorem elit magna magna laboris ad irure proident elit velit nostrud amet esse. Cillum aliquip tempor ullamco dolor nisi. Enim id id eiusmod id sint nulla laboris aliquip voluptate. Labore officia velit consectetur magna ad irure magna tempor ipsum aliqua. Nisi Lorem ad et anim veniam proident commodo labore. Cillum ullamco aute cillum magna quis cupidatat. Quis ullamco eu pariatur aute fugiat labore consequat adipisicing excepteur.
        Exercitation velit veniam aliqua magna non. Ut cillum qui excepteur eiusmod commodo eu velit aute do laboris. Pariatur nostrud in elit enim minim. Consequat mollit magna est duis sit consequat enim commodo exercitation occaecat tempor reprehenderit quis mollit. Cupidatat in cillum mollit eu cupidatat. Ut exercitation veniam dolor nostrud fugiat duis occaecat incididunt nostrud consectetur enim consequat sunt est. Est nisi adipisicing quis irure ad occaecat velit commodo commodo ad veniam ullamco nulla culpa.
        Sit reprehenderit incididunt quis non esse excepteur fugiat consequat velit ea ut ex adipisicing veniam. Elit eiusmod nulla irure Lorem esse. Minim reprehenderit nostrud voluptate in excepteur ex. Cillum cillum ut incididunt occaecat ipsum non duis nisi aute. Enim nostrud est eiusmod cupidatat ad mollit laboris reprehenderit. In proident magna ea sunt nisi aliquip nulla nulla ipsum adipisicing.
      </p>

      <div class="text-center mb-5">
        <img src="https://picsum.photos/1600/1000" width="50%" height="50%" alt="::título del artículo">
      </div>

      <p class="d-block text-justify fs-5 px-md-5 mb-5">
        ::Lorem elit magna magna laboris ad irure proident elit velit nostrud amet esse. Cillum aliquip tempor ullamco dolor nisi. Enim id id eiusmod id sint nulla laboris aliquip voluptate. Labore officia velit consectetur magna ad irure magna tempor ipsum aliqua. Nisi Lorem ad et anim veniam proident commodo labore. Cillum ullamco aute cillum magna quis cupidatat. Quis ullamco eu pariatur aute fugiat labore consequat adipisicing excepteur.
        Exercitation velit veniam aliqua magna non. Ut cillum qui excepteur eiusmod commodo eu velit aute do laboris. Pariatur nostrud in elit enim minim. Consequat mollit magna est duis sit consequat enim commodo exercitation occaecat tempor reprehenderit quis mollit. Cupidatat in cillum mollit eu cupidatat. Ut exercitation veniam dolor nostrud fugiat duis occaecat incididunt nostrud consectetur enim consequat sunt est. Est nisi adipisicing quis irure ad occaecat velit commodo commodo ad veniam ullamco nulla culpa.
        Sit reprehenderit incididunt quis non esse excepteur fugiat consequat velit ea ut ex adipisicing veniam. Elit eiusmod nulla irure Lorem esse. Minim reprehenderit nostrud voluptate in excepteur ex. Cillum cillum ut incididunt occaecat ipsum non duis nisi aute. Enim nostrud est eiusmod cupidatat ad mollit laboris reprehenderit. In proident magna ea sunt nisi aliquip nulla nulla ipsum adipisicing.
      </p>

      <h2 class="text-center text-primary mb-4">
        ::Referencias
      </h2>

      <div>
        <ul class="fs-5">
          <li>
            <a href="https://example.com" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-external-link-alt"></i>
              https://example.com
              Enlace
            </a>
          </li>
          <li>
            <a href="https://example.com" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-external-link-alt"></i>
              https://example.com
              Enlace
            </a>
          </li>
          <li>
            <a href="https://example.com" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-external-link-alt"></i>
              https://example.com
              Enlace
            </a>
          </li>
        </ul>
      </div>

    </section>
  </main>

  <Footer />
</Layout>

<style>
</style>