---
import Layout from '../../../layouts/Layout.astro';
import Footer from '../../../components/Footer.astro';
import NavBarTop from '../../../components/NavBarTop.astro';
import PostWideCard from '../../../components/PostWideCard.astro';
import { Card, ImageContent, Post } from '../../../models/posts';

const posts: Post[] = [
  // new Post(
  //   'slug',
  //   'title',
  //   'Officia do minim duis labore commodo est magna officia cillum. Id laboris ullamco est nostrud minim quis culpa consectetur occaecat. Cillum mollit cillum cillum proident laboris proident dolor enim eiusmod. Aute excepteur sit dolor sunt nulla sunt mollit est est enim nulla. Laborum cupidatat sunt ullamco nostrud deserunt adipisicing proident occaecat ex. Aliquip Lorem mollit sit amet eu mollit consequat minim officia ad nulla do.',
  //   'author',
  //   'category',
  //   new ImageContent(new URL('https://picsum.photos/1600/1000'), 'alt', 'caption'),
  //   new Card('small', 'vertical', true),
  // ),
];

---
<Layout theme="dark" title="Blog | Alejandro Carrasco Rodríguez">
  <NavBarTop theme="dark" active="blog" />

  <header class="container mb-4">
    <section class="no-selectable bg-black text-light rounded-4">
			<div class="py-3">
				<h1 class="h4 d-block text-center">Reflexiones</h1>
			</div>
		</section>
  </header>

  <main class="container">
    <div class="row w-100">
      {
        posts.map((post) => (
          <div class="card-container col-12 mb-3">
            <PostWideCard post={post} />
          </div>
        ))
      }
    </div>
  </main>

  <Footer />
</Layout>

<style>
.card-container {
  height: 10rem;
}
</style>