---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import NavBarTop from "../components/NavBarTop.astro";
---

<Layout theme="dark" title="Acerca de mí | Alejandro Carrasco Rodríguez">
  <NavBarTop theme="dark" active="about" />

  <div class="pt-3">
    <header class="mb-5 container">
      <section class="no-selectable bg-black rounded-4 text-light">
        <div class="py-3">
          <h1 class="d-block text-center h4">Acerca de mí</h1>
        </div>
      </section>
    </header>

    <main class="mb-5 container">
      <section class="bg-light mb-5 rounded-4 text-dark">
        <div class="px-3 px-lg-5 py-3 py-lg-5">
          <div class="row">
            <div class="mb-4 mb-lg-0 text-center col-lg-5">
              <img
                src="/images/me.jpg"
                alt="Alejandro Carrasco Rodríguez"
                class="rounded-4 img-fluid"
                style="max-height: 22rem;"
              />
            </div>
            <div class="col-lg-7">
              <h2 class="mb-4 text-primary text-lg-start text-center">
                ¡Bienvenidos a la era digital!
              </h2>
              <p class="d-block text-justify">
                En nuestro mundo hiperconectado, los protagonistas son quienes
                entienden cómo funcionan los sistemas de los que tanto
                dependemos.
                <b>
                  Mi nombre es Alejandro y soy experto en ingeniería de software
                  y desarrollo profesional.
                </b>
                Me gusta crear soluciones a problemas complejos y técnicamente desafiantes,
                por lo que siempre estoy dispuesto a aprender y enfrentar nuevos
                retos.
                <b>
                  Tengo como propósito contribuír de manera significativa a la
                  sociedad, a través de la tecnología, para mejorar la calidad
                  de vida de las personas.
                </b>
              </p>
              <p class="d-block text-justify">
                <b
                  >Me apasiona la tecnología y el desarrollo del talento humano</b
                >, por lo que encontrarás mucho más que contenido técnico en mi
                sitio.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="mb-5 px-5 py-3 rounded-3 alert alert-info">
        <div class="mb-3 text-center">
          <h2 class="d-inline-block text-black h6 shado">
            ¡Descarga y prueba mi librería de arquitectura hexagonal!
            <a
              class="text-primary"
              href="https://www.npmjs.com/package/tshex-cli"
              target="_blank"
              rel="noopener noreferrer"
            >
              tshex-cli
              <i class="fa-solid fa-external-link"></i>
            </a>
          </h2>
        </div>
      </section>

      <section class="bg-light mb-5 p-5 rounded-4 text-dark">
        <div class="mb-5">
          <h2 class="mb-3 text-primary text-lg-start text-center">
            Analista y Desarrollador de Software
          </h2>
          <p class="d-block mb-3">
            <b>Mi objetivo</b> es ser <b>Arquitecto de Soluciones</b>, por lo
            que estoy enfocado en dominar
            <b>las mejores prácticas en análisis, desarrollo y despliegue</b> de
            sistemas informáticos.
          </p>
          <p class="d-block mb-3 fst-italic">
            Crear un sistema no es como construír un edificio y ya está, es más
            como plantar un jardín.
            <br />Es algo que se debe cuidar y mantener, por eso <b
              >¡haz el código legible!</b
            >
          </p>
          <div class="mb-3 row">
            {
              [
                { title: "Natalicio", value: "24 Octubre 1996 (Generación Y)" },
                {
                  title: "Correo",
                  value:
                    'contacto@alejandrocr.co <a href="mailto:contacto@alejandrocr.co"><i class="fa-solid fa-envelope"></i></a>',
                },
                { title: "Residencia", value: "Colombia" },
                { title: "Idiomas", value: "Español, English" },
              ].map(({ title, value }) => (
                <div class="mb-3 mb-lg-2 col-12 col-lg-6">
                  <i class="fa-chevron-right fa-solid" />
                  <strong>{title}:</strong>
                  <span set:html={value} />
                </div>
              ))
            }
          </div>
        </div>

        <div class="mb-5 row">
          <h3 class="mb-3 text-primary">
            Mis habilidades de gestión de proyectos
          </h3>
          {
            [
              'Análisis e ingeniería de requerimientos con inteligencia artificial',
              'Especificación de requerimientos de software (SRS)',
              'Gestión de proyectos con Google Suite',
              'Liderazgo de equipos en desarrollo de productos tecnológicos',
              'Documentación técnica de software',
              'Diagramas basados en vistas (4+1 Kruchten)',
              'Metodologías ágiles (Scrum)',
              'Desarrollo guiado por pruebas (TDD)',
              'Arquitectura de software en capas',
              'Arquitectura de software hexagonal',
            ].map((skill) => (
              <div class="mb-3 mb-lg-2 col-12 col-lg-6">
                <i class="fa-regular fa-circle-check" />
                <strong>{skill}</strong>
              </div>
            ))
          }
        </div>

        <div class="mb-5 row">
          <h3 class="mb-3 text-primary">Mis habilidades técnicas</h3>
          {
            [
              'Linux (Desktop & Server)',
              'Systemd (services)',
              'Journald (logging)',
              'Docker (containers)',
              'Nginx',
              'Domain names (DNS records)',

              'Git',
              'Gitlab (CI)',
              'Jenkins (CD)',

              'Python',
              'pip (publishing)',
              'unittest (python unit testing)',
              'Fastapi',
              'Django',

              'Javascript',
              'Typescript',
              'npm (publishing)',
              'Jest (javascript unit testing)',
              'Node',
              'React',
              'Express',
              'Nest',
              'Progressive Web Applications',

              'Postgresql',
              'Mysql',
              'MongoDB',
              'Redis',

              'Semantic HTML5',
              'Search engine optimization (SEO)',

              'Responsive and animated CSS3',
              'Tailwind CSS',

              'Rest API',
              'OpenAPI',
              'OAuth2',

              'Websockets',
              'Webhooks',
              'Event sourcing',
              'Web maps',
              'Web stories',

              'Amazon Web Services (AWS)',
            ].map((skill) => (
              <div class="mb-3 mb-lg-2 col-12 col-lg-4">
                <i class="fa-regular fa-circle-check" />
                <strong>{skill}</strong>
              </div>
            ))
          }
        </div>
      </section>

      <section class="mb-5 px-5 py-3 rounded-3 alert alert-success">
        <a class="fs-5" href="/docs/cv.alejandrocr.pdf" download>
          <div class="mb-3 text-center">
            Click
            <span class="text-primary"> aquí </span>
            para descargar mi Currículum Vitae
            <i class="fa-solid fa-download"></i>
          </div>
        </a>
      </section>

      <section class="no-selectable bg-light mb-5 rounded-4 text-dark resume">
        <div class="px-3 px-lg-5 py-3 py-lg-5">
          <div class="mb-4">
            <h2 class="text-primary text-lg-start text-center">
              Trabajos realizados
            </h2>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Labor en Empresas</h3>
              <div class="resume-item">
                <h4>Líder de equipo de ingeniería de sistemas</h4>
                <h5>Feb. 2022 - Mar. 2024</h5>
                <ul>
                  <li class="text-justify">
                    Lideré la sistematización y automatización de procesos para
                    clientes operativos del sector de servicios públicos.
                  </li>
                  <li class="text-justify">
                    Creé el sistema de geolocalización y reportes de
                    posicionamiento en tiempo real para el seguimiento del
                    personal en campo.
                  </li>
                  <li class="text-justify">
                    Automaticé la gestión del control de versiones y la
                    configuración de los ambientes de pruebas. Creé el estándar
                    de documentación para toda el área de tecnología.
                  </li>
                  <li class="text-justify">
                    Coordiné el despliegue de las versiones de la plataforma a
                    producción.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Líder de equipo de software e innovación en Eventech</h4>
                <h5>Oct. 2020 - Ene. 2022</h5>
                <ul>
                  <li class="text-justify">
                    Lideré la innovación y el desarrollo de funciones de
                    experiencia de usuario para las plataformas de eventos
                    virtuales de la empresa.
                  </li>
                  <li>
                    Creé un núcleo de código que redujo el tiempo de desarrollo
                    de plataformas de eventos virtuales en un 30%
                  </li>
                  <li class="text-justify">
                    Gestioné las bases de datos de usuarios y patrocinadores y
                    diseñé informes de estado para proporcionar inteligencia de
                    negocios a la empresa.
                  </li>
                  <li class="text-justify">
                    Administré los servidores de la compañía y realicé las
                    operaciones necesarias en casos de migración de servidores.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Desarrollador de software en Jikkosoft</h4>
                <h5>Oct. 2019 - Feb. 2020</h5>
                <ul>
                  <li>
                    Creé los algoritmos para el cálculo de impuestos de
                    alumbrado público a nivel regional y el sistema de
                    facturación.
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Proyectos Freelance</h3>
              <div class="resume-item">
                <h4>Plataforma educativa</h4>
                <h5>2020 - 2021</h5>
                <p><em>Para la Fundación HRBC</em></p>
                <p class="text-justify">
                  Puse en línea la plataforma educativa de HRBC para dictar el
                  Diplomado de Educación Inclusiva. La plataforma permite a los
                  docentes gestionar el contenido de las clases, los exámenes,
                  talleres, foros y las notas de los estudiantes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>

  <Footer />

  <style>
    .resume .resume-title {
      font-size: 26px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #050d18;
    }

    .resume .resume-item {
      padding: 0 0 20px 20px;
      margin-top: -2px;
      border-left: 2px solid #1f5297;
      position: relative;
    }

    .resume .resume-item h4 {
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      color: #050d18;
      margin-bottom: 10px;
    }

    .resume .resume-item h5 {
      font-size: 16px;
      background: #e4edf9;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .resume .resume-item ul {
      padding-left: 20px;
    }

    .resume .resume-item ul li {
      padding-bottom: 10px;
    }

    .resume .resume-item:last-child {
      padding-bottom: 0;
    }

    .resume .resume-item::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: #fff;
      border: 2px solid #1f5297;
    }
  </style>
</Layout>
