---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import NavBarTop from '../components/NavBarTop.astro';

---
<Layout theme="dark" title="Acerca de mí | Alejandro Carrasco Rodríguez">
  <NavBarTop theme="dark" active="about" />
  <h1>Acerca de mí</h1>

  <Footer />
</Layout>