---
import Layout from '../layouts/Layout.astro';
import NavBarTop from '../components/NavBarTop.astro';

---
<Layout theme="dark" title="Blog | Alejandro Carrasco Rodríguez">
  <NavBarTop theme="dark" active="blog" />
  <h1>Blog</h1>
</Layout>