---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import LatestPostGrid from "../components/LatestPostGrid.astro";
import NavBarTop from "../components/NavBarTop.astro";
---

<Layout theme="dark" title="Inicio | Alejandro Carrasco Rodríguez">
	<NavBarTop theme="dark" active="index" />

	<div class="pt-3">
		<header class="mb-3 container">
			<section class="bg-black rounded-4 text-light">
				<div class="py-5">
					<h1 class="d-block no-selectable mb-4 text-center animate-name">
						Alejandro Carrasco Rodríguez
					</h1>
					<span class="d-block text-center h4">
						Experto en ingeniería de software y desarrollo profesional
					</span>
				</div>
			</section>
		</header>

		<main class="px-3 px-lg-5 container">
			<section class="rounded-4">
				<div class="px-3 py-5">
					<p class="d-block intro-text-shadow text-light fs-5">
						Con más de seis años de experiencia en el desarrollo de soluciones
						tecnológicas, lidero equipos especializados en sistematización,
						automatización y creación de productos digitales.
						<br />
						<br />Me enfoco en la optimización de procesos, el desarrollo de
						productos, la formación de líderes y gestión de proyectos de alta
						productividad.
						<br />
						<br />Mi objetivo es estar siempre a la vanguardia con productos de
						alta calidad.
					</p>
				</div>
			</section>
		</main>

		<Footer />
	</div>
</Layout>

<style>
	.intro-text-shadow {
		text-shadow: 0 0 8px #000;
	}

	.animate-name {
		background-image: linear-gradient(
			-225deg,
			#c5fff8 0%,
			#96efff 29%,
			#5fbdff 67%,
			#7b66ff 100%
		);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 2s linear infinite;
	}

	@keyframes textclip {
		to {
			background-position: 200% center;
		}
	}
</style>
