---
import Layout from '../layouts/Layout.astro';
import NavBarTop from '../components/NavBarTop.astro';
import LatestPostGrid from '../components/LatestPostGrid.astro';

// - Page
//     - SEO Wrapper
//     - Layout (contenedor)
//     - Header (contenido)
//         - navbar (contenido)
//         - Portada (contenido)
//         - Descripción y enlaces a redes sociales (contenido)
//         - Proyecto y empresa actual (contenido)
//     - Main (contenido)
//         - Tarjetas de últimos artículos (contenido)
//     - Footer (contenido)
//         - Texto legal (contenido)

---
<Layout theme="dark" title="Inicio | Alejandro Carrasco Rodríguez">

	<NavBarTop theme="dark" />

	<header class="container px-3 px-md-5">

		<section class="no-selectable bg-black text-light rounded-4 mb-5">
			<div class="d-flex flex-column align-items-center py-5">
				<h1 class="animate-charcter">Alejandro Carrasco Rodríguez</h1>
				<span class="d-block h4">Ingeniero de la web</span>
			</div>
		</section>

	</header>

	<main class="container">
		<LatestPostGrid src="http://localhost:4321/data/posts.json" />
	</main>

	<footer class="container">
	</footer>

</Layout>

<style>
.animate-charcter {
  background-image: linear-gradient(
		-225deg,
		#C5FFF8 0%,
		#96EFFF 29%,
		#5FBDFF 67%,
		#7B66FF 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
</style>