---
import { Card, ImageContent, Post } from '../models/posts';
import PostPromotedCard from '../components/PostPromotedCard.astro';
import laboratories from '../data/laboratories';
import shorts from '../data/shorts';
import stories from '../data/stories';
import thoughts from '../data/thoughts';

const posts: Post[] = [
  ...laboratories,
  ...shorts,
  ...stories,
  ...thoughts,
].filter(
  (post) => post.card?.promoted
).sort(
  (a, b) => ((a.createdAt < b.createdAt) ? 1 : -1)
);

interface Props {
  //
}

enum size {
  small = '3',
  medium = '5',
  large = '11',
};


---
<section id="latest-post-grid" class="row text-light mb-5 px-5 g-5">
  {
    posts.map((post) => (
    <div class='col-12 offset-lg-1 col-lg-3 justify-content-center'>
      <PostPromotedCard post={post} />
    </div>
    ))
  }
</section>