---
interface Props {
  theme: string;
  active: string;
}

const { active, theme } = Astro.props;

let navBg, navText;

if (theme === "dark") {
  navBg = "black";
  navText = "light";
} else {
  navBg = "white";
  navText = "dark";
}
---

<style>
  .nav-link.active {
    border-bottom: 2px solid white;
  }
</style>

<nav
  class={`navbar navbar-expand-lg navbar-${theme} bg-${navBg} text-${navText}`}
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="m-auto my-2 my-lg-0 navbar-nav navbar-nav-scroll"
        style="--bs-scroll-height: 200px;"
      >
        <li class="me-5 nav-item">
          <a class={`nav-link ${active === "index" ? "active" : ""}`} href="/"
            >Inicio</a
          >
        </li>
        <li class="me-5 nav-item">
          <a
            class={`nav-link ${active === "blog" ? "active" : ""}`}
            href="https://profesionalsoftware.gumroad.com/"
            target="_blank"
          >
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a
            class={`nav-link ${active === "about" ? "active" : ""}`}
            href="/about">Perfil</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
