---
---
<a href="#">
  <div class="card overflow-hidden flex-row w-100 h-100 p-1">
    <img class="card-img-top" src="https://picsum.photos/300" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary">Card title</h5>
      <p class="card-text">
        Et minim aliqua ullamco excepteur eiusmod ex quis adipisicing esse. Reprehenderit excepteur ullamco dolor officia consequat occaecat proident reprehenderit id quis cupidatat tempor. Ullamco officia sunt adipisicing reprehenderit elit et laborum amet.
      </p>
    </div>
  </div>
</a>

<style>
.card {
  border: unset;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0.5, 0.5);
  transition: transform 0.3s ease-in-out;
}
</style>