---
import Layout from "../../../layouts/Layout.astro";
import Footer from "../../../components/Footer.astro";
import NavBarTop from "../../../components/NavBarTop.astro";
import PostWideCard from "../../../components/PostWideCard.astro";
import postsList from "../../../data/laboratories";
---

<Layout theme="dark" title="Blog | Laboratorios | Alejandro Carrasco Rodríguez">
  <NavBarTop theme="dark" active="blog" />

  <div class="pt-3">
    <header class="mb-4 container">
      <section class="no-selectable bg-black rounded-4 text-light">
        <div class="py-3">
          <h1 class="d-block text-center h4">Laboratorios</h1>
        </div>
      </section>
    </header>

    <main class="container">
      <div class="w-100 row">
        {
          postsList.map((post) => (
            <div class="mb-3 card-container col-12">
              <PostWideCard post={post} />
            </div>
          ))
        }
      </div>
    </main>
  </div>

  <Footer />
</Layout>
