---
import Layout from "../../../layouts/Layout.astro";
import Footer from "../../../components/Footer.astro";
import NavBarTop from "../../../components/NavBarTop.astro";
---

<Layout
  theme="dark"
  title="Blog | Teoría de fórmulas | Alejandro Carrasco Rodríguez"
>
  <NavBarTop theme="dark" active="blog" />

  <div class="pt-3">
    <header class="mb-4 container">
      <section class="no-selectable bg-black rounded-4 text-light">
        <div class="py-3">
          <h1 class="d-block text-center h4">Teoría de fórmulas</h1>
        </div>
      </section>
    </header>

    <main class="container"></main>
  </div>

  <Footer />
</Layout>
