body {
  background-image: url('https://picsum.photos/1600/1000');
  background-repeat: no-repeat;
  background-size: cover;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}

.no-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}