/*
Brakepoints
X-Small ... <576px
Small ... ≥576px
Medium ... ≥768px
Large ... ≥992px
Extra large ... ≥1200px
Extra extra large ... ≥1400px
*/

html {
  min-height: 100vh;
  min-width: 100%;
}

body {
  display: block;
  position: relative;
  min-height: 100vh;
  min-width: 100%;
}

body {
  background-image: url('https://picsum.photos/1600/1000');
  background-repeat: no-repeat;
  background-size: cover;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}

.no-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.py-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-reader {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 992px) {
  .px-reader {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.text-justify {
  text-align: justify !important;
}