<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>Perfil</h2>
      <p>
        <b>¡Bienvenidos a la era digital!</b>
        En nuestro mundo hiperconectado,
        los protagonistas son quienes entienden cómo funciona la tecnología de la que tanto dependen.
        <b>Mi nombre es Alejandro y soy Ingeniero en Sistemas.</b>
        Me gusta crear soluciones a problemas complejos y técnicamente desafiantes,
        por lo que siempre estoy dispuesto a aprender y enfrentar nuevos retos.
        <b>Tengo como propósito contribuír de manera significativa a la sociedad, a través de la tecnología,
        para mejorar la calidad de vida de las personas.</b>

        <br><br>
        <b>Me apasionan la tecnología y las historias</b>,
        por lo que probablemente encontrarás mucho más que contenido técnico en mi sitio.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src={'/assets/img/profile-img.jpg'} class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Analista y Desarrollador de Software</h3>
        <p class="fst-italic">
          Crear un sistema no es como construír un edificio y ya está, es más como plantar un jardín.
          <br>Es algo que se debe cuidar y mantener, por eso <b>¡haz el código legible!</b>
        </p>
        <div class="row">

          <div class="col-lg-8">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Natalicio:</strong>
                <span>24 Octubre 1996 (Generación Y)</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>correo:</strong>
                <span>
                  contacto@alejandrocr.co
                  <a href="mailto:contacto@alejandrocr.co">
                    <i class="bi bi-envelope"></i>
                  </a>
                </span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Residencia:</strong>
                <span>Colombia</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Idiomas:</strong>
                <span>Español, English</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Freelance:</strong>
                <span>Disponible</span>
              </li>
            </ul>
          </div>

        </div>
        <p>
          <b>Mi objetivo es ser Arquitecto de Software</b>, por lo que estoy enfocado en dominar
          las mejores prácticas en análisis, desarrollo y despliegue de sistemas informáticos.
        </p>
      </div>
    </div>
  </div>
</section>
