<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center">

  <div class="hero-container" data-aos="fade-in">
    <h1>Alejandro Carrasco</h1>
    <p>
      Soy
      <span
        class="typed"
        data-typed-items="Analista, Desarrollador, Freelancer, Escritor">
      </span>
    </p>
  </div>

</section>
