<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Curriculum</h2>
      <a href="/docs/hdv_alejandrocr.pdf" class="btn btn-primary" download>
        Descargar HDV completa <i class="bi bi-download"></i>
      </a>
    </div>

    <div class="row">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Labor en Empresas</h3>
        <div class="resume-item">
          <h4>Desarrollador de software en Deltec</h4>
          <h5>Feb. 2022 - Actualidad</h5>
          <ul>
            <li>
              Desarrollar las funcionalidades requeridas para la plataforma
              de ordenes de servicio que utilizan las empresas públicas
              para gestionar a los técnicos en terreno.
            </li>
            <li>
              Desarrollar las funcionalidades requeridas para la plataforma
              de gestión interna de la empresa.
            </li>
            <li>
              Realizar pruebas unitarias para asegurar la calidad del software.
            </li>
            <li>
              Coordinar el despliegue de las versiones de la plataforma y las aplicaciones
              a producción.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Desarrollador de software en Eventech</h4>
          <h5>Oct. 2020 - Ene. 2022</h5>
          <ul>
            <li>
              Crear nuevas experiencias de usuario para la plataforma
              de eventos virtuales. Y desarrollar las funcionalidades
              que permitan estas experiencias.
            </li>
            <li>
              Gestionar las bases de datos de usuarios y patrocinadores.
              Generar informes de estado para la inteligencia del negocio
              y los resultados de los eventos.
            </li>
            <li>
              Administrar los servidores de la compañía, realizar
              las migraciones y preparaciones necesarias en caso de cambio de servidores
              y dar soporte a los usuarios.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Desarrollador de software en Jikkosoft</h4>
          <h5>Oct. 2019 - Feb. 2020</h5>
          <ul>
            <li>
              Desarrollar las funcionalidades requeridas para la plataforma
              de facturación de impuestos del alumbrado público.
            </li>
            <li>
              Realizar consultas eficientes en grandes bases de datos
              para obtener la información requerida en el menor tiempo posible.
            </li>
            <li>
              Realizar las pruebas unitarias y de integración para asegurar
              la calidad del software.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Proyectos Freelance</h3>
        <div class="resume-item">
          <h4>Plataforma educativa</h4>
          <h5>2020 - 2021</h5>
          <p><em>Para la Fundación HRBC</em></p>
          <p>
            Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam
            iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti
            nerada porti sand markend
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
