---
const technicalSkills = [
  'Linux',
  'Git',
  'HTML',
  'CSS',
  'SASS',
  'Javascript',
  'Typescript',
  'React',
  'Python',
  'Django',
  'Astro',
  'MySQL',
  'PostgreSQL',
  'MongoDB',
  'Docker',
];

const tacticalSkills = [
  'SOLID Principles',
  'Clean Code',
  'Design Patterns',
  'RESTful APIs',
  'Test Driven Development',
  'Fixing Bugs',
];

const strategicalSkills = [
  'Software Requirements Specification',
  'Personal Software Process',
  'Scrum',
]
---

<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Habilidades relevantes</h2>
      <p></p>
    </div>

    <h3 class="mb-4">Habilidades técnicas</h3>
    <div class="row skills-content">
      {technicalSkills.map((skill) => (
        <div class="col-6 col-lg-4 progress">
          <span class="skill">✅ {skill}</span>
        </div>
      ))}
    </div>

    <h3 class="mb-4">Habilidades tácticas</h3>
    <div class="row skills-content">
      {tacticalSkills.map((skill) => (
        <div class="col-6 col-lg-4 progress">
          <span class="skill">✅ {skill}</span>
        </div>
      ))}
    </div>

    <h3 class="mb-4">Habilidades estratégicas</h3>
    <div class="row skills-content">
      {strategicalSkills.map((skill) => (
        <div class="col-6 col-lg-4 progress">
          <span class="skill">✅ {skill}</span>
        </div>
      ))}
    </div>

  </div>
</section>

<style>
  h3 {
    color: darkblue;
    font-weight: 600;
    margin-bottom: 1rem;
  }
</style>